#[include LUCES_LED.cfg]

#--------------------------------------------------------------

[neopixel NEOPIXEL]
pin: PA8 # NEOPIXEL PIN
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 12
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              true
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    gradient  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    linear fade  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    breathing  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    blink  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    strobe  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    twinkle  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    comet  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    chase  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#--------------------------------------------------------------

[led_effect panel_idle]
autostart:              false
frame_rate:             30
leds:
    neopixel:NEOPIXEL
layers:
    fire  1 1 top (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)